.search-container {
  max-width: 400px;

  position: relative; // Đảm bảo phần tử cha có vị trí tương đối

  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    // margin-bottom: 10px;
    width: 100%; // Để ô input mở rộng đầy đủ
    box-sizing: border-box; // Đảm bảo padding và border không làm thay đổi kích thước ô input
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666; // Màu của icon search
    cursor: pointer; // Đổi hình con trỏ thành dấu nhấp chuột khi di chuột vào icon
  }

  .search-results {
    list-style-type: none;
    padding: 0;
    position: absolute; // Đặt vị trí tuyệt đối để nằm trên phần tử cha
    top: calc(100% + 10px); // Hiển thị bên dưới input, cách input 10px
    left: 0;
    border-radius: 5px;
    background-color: #666; // Màu nền của kết quả tìm kiếm
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Đổ bóng cho ô tìm kiếm
    z-index: 10; // Đảm bảo hiển thị trên các phần tử khác
    width: 100%;
    max-height: 300px; // Đặt chiều cao tối đa của kết quả tìm kiếm
    overflow-y: auto; // Cho phép cuộn khi kết quả quá nhiều

    .search-result-item {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f5f5f5; // Màu nền khi di chuột vào kết quả
      }

      .container-result {
        display: flex;
        align-items: center;

        .result-image {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 5px;
          object-fit: cover; // Đảm bảo hình ảnh không bị méo khi resize
        }

        .result-name {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
