.main-page {
  position: relative;

  .content {
    padding-top: 30px;

    .slider__movie {
      .slider__movies-content {
        position: relative;
        z-index: 1;
        color: #fff;
        width: 100%;
        height: 100%;

        .slider__movies-image {
        }
      }
    }
  }

  .slider-image {
    object-fit: cover;
    object-position: center;
    margin-top: 2rem;
    width: 100%;
    height: 55vh;

    .slider__movie-content {
      z-index: 1000;
    }
  }
  .feature-film,
  .television-series,
  .cartoon,
  .tvshows {
    .slider-image__film {
      .slider__conainer-movies {
        overflow: hidden;

        .slider__movie-name {
          overflow: hidden;
          color: #fff;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          font-size: 16px;
          cursor: pointer;
        }
        .slider__movie-name:hover {
          color: var(--primry-color);
        }
      }
      .slider__movies-content {
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-left: 10px;
        transition: transform 0.2s ease;

        .slider__movies-images {
          height: 300px;
        }
      }
      .slider__movies-content:hover {
        transform: scale(1.1);
      }
    }
  }
}

section {
  margin: 32px 0;
}
section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 16px;
  color: #fff;
}
section header .title-name {
  margin-right: 12px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
section header a {
  transition: 0.3s;
  cursor: pointer;
  color: var(--primry-color);
}
