.header {
  width: 100%;
  background: #324e58;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 150px;
  height: 50px;
}
.logo a,
.menu-header__item:hover > a,
.menu-header__item:hover > a > i,
.reset-value:hover {
  color: #c91616;
  text-decoration: none;
}

.logo {
  padding: 8px 4px;
  font-size: 3.5rem;
  user-select: none;
}

.menuIcon {
  display: none;
  background-color: #22223b;
  padding: 12px;
  margin: 0 10px;
}
.headerMenu {
  display: block;
}
.menu-list {
  background-color: #324e58;
  color: #fff;
  font-size: 24px;
}
.ant-drawer-body {
  background-color: #324e58;
}
.ant-menu-title-content {
  color: #d8ae25;
}
.anticon-ellipsis {
  color: #d8ae25;
}

.ant-drawer-content {
  width: 70% !important;
}

// Mobile & tablet
@media (max-width: 1023px) {
  .menuIcon {
    display: none;
  }
  .headerMenu {
    display: block;
  }
}
// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .menuIcon {
    display: block;
  }
  .headerMenu {
    display: none;
  }
}

// mobile
@media (max-width: 739px) {
  .main-page {
    padding: 0 20px !important;
  }
  .menuIcon {
    display: block;
  }

  .headerMenu {
    display: none;
  }
}
